# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore git merge artifacts
*.orig

# Deps vendoring from golang
vendor/

# IDEs, editor's
.idea
.sw*

dist/

# Jekyll
docs/.bundle/
docs/.jekyll-cache/
docs/build/
docs/user-guide/*-help.txt
